
body {
  	background-color: #ffffff;
  	font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #555;
    margin: 0 auto;
    width: 70%;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #333;
}

h1 {
	font-size: 35px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.num-of-teams{
	padding-top: 15px;
}
.mySlides{
	height: 350px;
	width: 100%;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
    font-size: 16px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #1abc9c;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.navbar {
	text-transform: uppercase;
	margin-bottom: 0px;
}

.navbar-inverse{

	background-color: #c1d8ea;
}
.navbar-inverse {
	padding-bottom: 40px;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
	color: #222222;
}

.navbar-brand {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 2px;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-inverse .navbar-toggle {
	border-color: transparent;
}

.progress-bar-theme {
  background-color: #1abc9c;
}


/* Helpers */

.mt {
	margin-top: 40px;
	margin-bottom: 40px;
}

.pt {
	padding-top: 50px;
	padding-bottom: 50px;
}


/* +++++ WRAP SECTIONS +++++ */

#ww {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #f2f2f2;
}


#footer {
	background-color: #2f2f2f;
	padding-top: 50px;
	padding-bottom: 50px; 
}

#footer p {
	color: white;
}

#footer h4 {
	color: white;
	text-transform: uppercase;
	padding-bottom: 20px;
}


/* +++++ Color Wraps / Blog Page +++++ */

#grey {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #f2f2f2;
}

#white {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #ffffff;
}



/* Blog Date*/
bd {
	font-size: 12px;
	text-transform: uppercase;
	color: #d2d2d2;
	font-weight: 700;
}

/* Blog Author*/
ba {
	font-size: 12px;
	text-transform: uppercase;
}

/* Blog Quote */
.bq {
	font-size: 22px;
	padding-top: 30px;
}

/* Blog Tags */
bt {
	font-size: 12px;
}

/* ================== PORTFOLIO IMAGES HOVER EFFECT ================== */
/* Effects also are controled by hover.zoom.js */
.zoom { 
    display:block; 
    position:relative; 
    overflow:hidden; 
    background:transparent url(../img/loader.gif) no-repeat center;
}


    .zoomOverlay {
        position:absolute;
        top:0; left:0;
        bottom:0; right:0;
        display:none;
        background-image:url(../img/zoom.png);
        background-repeat:no-repeat;
        background-position:center;
    }

.zoom2 {
	opacity: 1;
}

.zoom2:hover {
	opacity: 0.5;
}

/* glyphicon Configuration */

.glyphicon {
	font-size: 40px;
	color: #1abc9c;
}

    .col-1-8 {
	width: 12.5%;
	float: left;
}
.round-two-top {
	padding: 45px 0 0;
}
.round-two-bottom {
	padding: 80px 0 0;
}
.round-three {
	padding: 127px 0 0;
}
.col-1-4 {
	width: 25%;
	float: left;
}
.col-1-3 {
	width: 33.333%;
	float: left;
}
.col-1-2 {
	width: 50%;
	float: left;
}
.col-2-3 {
	width: 66.66%;
	float: left;
}
.col-100 {
	width: 100%;
	float: left;
}
ul.matchup {
	margin: 0;
	width: 100%;
	padding: 10px;
}
ul.matchup li {
	padding: 0;
	margin: 3px 5px;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	border: 1px solid #cccccc;
}
.seed {
	background: #e7e7e7;
	padding: 5px 10px;
}

@media screen and (min-width: 401px) and (max-width: 680px) {
.col-1-8 {
	width: 25%;
}
}

@media screen and (max-width: 400px) {
.col-1-8 {
	width: 33%;
}
.champ {
	width:100%;
}
}

.far {
    padding-left: 50px;
    padding-right: 50px;
}

#droptarget {
    float: left; 
    width: 120px; 
    height: 25px;
    border: 1px solid #aaaaaa;
}

#margin1 {
    margin-left: 30px;
}

#margin2 {
    margin-top: 57px;
}

#margin3 {
    margin-left: 50px;
    margin-bottom: 35px;
}

#margin4 {
    margin-left: 120px;
    margin-bottom: 10px;
}

#margin5 {
    margin-top: 55px;
}

#margin6 {
    margin-top: 60px;
}

#margin7 {
    margin-left: 60px;
}

#margin8 {
    margin-left: 60px;
    margin-top: 220px;
}

#margin9 {
    margin-left: 120px;
    margin-top: 90px;
}

#margin10 {
    margin-left: 190px;
    margin-top: 80px;
}

#margindown {
    margin-top: 60px;
}